
.icon-beer-1:before { content: '\e800'; } /* '' */
.icon-glass:before { content: '\e801'; } /* '' */
.icon-wine:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-left-open-big:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-camera:before { content: '\e806'; } /* '' */
.icon-right-open-big:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-lunch:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-foursquare:before { content: '\f180'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */