.menu-dropdown {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  color: $color-white;

  @media (min-width: $scren-md) {
    position: static;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    margin-left: auto;
    margin-right: 1em;
  }
}

.menu-dropdown__nav-menu {
  margin: 0;
  list-style: none;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $scren-md) {
    border-right: 1px solid $color-white;
    padding-right: 0.8em;

    a {
      font-size: 0.8rem;
      padding: 0.2em 0.2em;
    }

    a:hover {
      color: #ddd;
    }

    li + li {
      padding-left: 0.5em;
    }
  }
}

.menu-dropdown__social-links {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0.5em 1em;

  li {
    display: inline-block;
    padding: 0.2em;
  }

  @media (min-width: $scren-md) {
    margin: 0 0 0 0.3em;

    li + li {
      padding-left: 0.2em;
    }
  }
}

.menu-dropdown_item {
  display: inline-block;

  a {
    font-family: 'Exo 2', sans-serif;
    display: inline-block;
    color: $color-white;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.8;
    text-transform: uppercase;
  }

  @media (min-width: $scren-md) {
    position: static;
    transform: none;

    a {
      font-size: 0.95rem;
    }

    li {
      display: inline-block;
    }
  }
}
