.lunch-menu {
  box-shadow: inset 0 5px 8px 0 rgba(0, 0, 0, 0.35);
  padding: 1em 0 2em;

  &__header {
    @include font-header;

    display: block;
    text-align: center;
    font-size: 2.4rem;
    color: black;

    &--link {
      display: block;
      text-decoration: none;
    }
  }

  &__week {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 3em;

    & > div {
      margin-top: 25px;
    }
  }

  &__day {
    width: 300px;
    padding: 0 1em;
  }

  &__title {
    @include font-header;

    color: #444;
    font-size: 1.3em;
    font-weight: 400;

    h3 {
      font-size: 0.9em;
      margin: 0;
      margin-top: 0.2em;
      text-transform: capitalize;
    }

    p {
      font-size: 0.7em;
      margin: 0;
    }
  }

  &__items {
    padding: 0.7em 0;
    margin: 0;
    list-style-type: none;
    line-height: 1.1;
  }

  &__item {
    margin: 0.1em 0 0;
  }

  &__item + &__item {
    margin-top: 0.5em;
  }

  @media (min-width: $scren-md) {
    &__week {
      font-size: 0.9rem;
      max-width: 600px;
    }
  }

  @media (min-width: $scren-lg) {
    &__week {
      // font-size: 1rem;
      max-width: 900px;
    }
  }
}
